<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devs do RN - Gerenciamento de Associados</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1>Bem-vindo ao Gerenciamento de Associados - Devs do RN</h1>
    <nav>
        <ul>
            <li><a href="associados.html">Associados</a></li>
            <li><a href="anuidade.html">Anuidades</a></li>
            <li><a href="cobranca.html">Cobrança</a></li>
            <li><a href="pagamento.html">Pagamentos</a></li>
        </ul>
    </nav>
</body>
</html>
